// Tema Escuro
$dark-primary: #FFB800; // amarelo
$dark-secondary: #076D6D; // verde
$dark-background: #0E1017; // darkblue
$dark-text-color: #FFFFFF; // branco
$dark-accent: #FFB800;


// _container.scss
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex: 1;
  padding-top: 50px;
  position: relative;
  background-color: $dark-background;
}


// _navbar.scss
.navbar {
  position: fixed; 
  flex: 1;        
  z-index: 1000; 
  margin: 0 auto;   
  padding: 10px 10px;     
  height: 60px;  
  align-items: center; 
  color: $dark-text-color;
  background-color: $dark-background;
}

.navbar-link {
  font-family: 'Roboto', sans-serif; 
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 6px;
  position: relative;
  color: inherit;
  transition: color 0.3s ease;
  
  &::after {
    content: '';
    position: absolute;
    left: -4px;
    right: -4px;
    bottom: -5px;
    height: 2px;
    background-color: $dark-secondary;
    transition: background-color 0.3s ease;
  }
  
  &:hover::after, 
  &.active::after {
    background-color: $dark-primary;
  }
}

.sidebar-link {
  font-family: 'Roboto', sans-serif; 
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 6px;
  position: relative;
}

// _footer.scss
.footer {
  text-align: center;     
  padding: 20px;         
  position: relative;   
}

