// Tema Claro
$light-primary: #0E1017; // darkblue
$light-secondary: #FFB800; // amarelo
$light-background: #FFFFFF; // branco
$light-text-color: #0E1017; // darkblue
$light-accent: #076D6D;

// Tema Escuro
$dark-primary: #FFB800; // amarelo
$dark-secondary: #076D6D; // verde
$dark-background: #0E1017; // darkblue
$dark-text-color: #FFFFFF; // branco
$dark-accent: #FFB800;

// Mixins para aplicar o tema
@mixin theme-light {
  background-color: $light-background;
  color: $light-text-color;
}

@mixin theme-dark {
  background-color: $dark-background;
  color: $dark-text-color;
}

// _container.scss
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex: 1; 
  padding-top: 80px; 
  @include theme-dark();
  &.light-mode {
    @include theme-light();
  }
}

@media (max-width: 600px) {
  .container {
    padding: 10px; 
  }
}

// _navbar.scss
nav {
  position: fixed;          
  z-index: 1000;         
  padding: 10px 20px;     
  height: 60px;  
  align-items: center; 
}

// _footer.scss
footer {
  text-align: center;     
  padding: 20px;         
  position: relative;     
}

// _global.scss
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


